.list__story--newupdate {
  background: white;
  border-radius: 5px;
  margin-right: 25px;
  .item__story--newupdate {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #e7e3e3;
    gap: 10px;
    .image__story {
      width: 60px;
      height: 90px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .story__newupdate--right {
      display: flex;
      flex: 1;
      gap: 10px;
      .name__story {
        text-transform: capitalize;
        width: 30%;
        a {
          color: #357376;
          font-size: 1.25rem;
          font-weight: bold;
          position: relative;
        }
        p {
          color: #3c3c3c;
          margin: 5px 0;
        }
        a:hover {
          color: black;
        }
      }
      .cate__story {
        width: 35%;
      }

      .chapter__story {
        width: 35%;
        a {
          margin: 0;
          text-transform: capitalize;
          color: #357376;
          cursor: pointer;
          font-size: 1.25rem;
        }
        a:hover {
          color: black;
        }
        p {
          margin: 0;
          font-size: 1.1rem;
          margin-top: 5px;
          color: #302f2f;
        }
      }
    }
  }
}

.cate__story {
  // width: 35%;
  a {
    margin: 0 5px 5px 0;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    background: #3e8ed0;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
  }
  a:hover {
    text-decoration: underline;
  }
}
